#!/bin/bash

# Fetch environment

SCWIP=$(hostname  -I | awk '{print $1}')
{{ if not .NoIPv4 }}
SCWPUBLIC=$(curl http://v4.myip.ninja)
{{ end }}
METADATA=`curl http://169.254.42.42/conf`
MODEL=$(echo "$METADATA" | egrep COMMERCIAL_TYPE= | sed 's/COMMERCIAL_TYPE=//g')
CLUSTERID=$(echo "$METADATA" | egrep TAGS_0= | sed 's/TAGS_0=//g')
TINCIP=$(echo "$METADATA" | egrep TAGS_1= | sed 's/TAGS_1=//g')
IPV6_ADDRESS=$(echo "$METADATA" | egrep IPV6_ADDRESS= | sed 's/IPV6_ADDRESS=//g')
echo "HOST_PRIVATE_IPV4="$SCWIP >>/etc/environment
echo "HOST_IPV6="$IPV6_ADDRESS >>/etc/environment
echo "COREOS_PRIVATE_IPV4="$TINCIP >>/etc/environment
echo "COREOS_PUBLIC_IPV4="$SCWPUBLIC >>/etc/environment
echo "MODEL="$MODEL >>/etc/environment
mkdir -p /etc/pulcy
echo $CLUSTERID >/etc/pulcy/cluster-id
chmod 0400 /etc/pulcy/cluster-id
echo $TINCIP >/etc/pulcy/tinc-ip

{{ if .HttpProxy }}
# Setup HTTP Proxy
echo "http_proxy={{ .HttpProxy }}" >>/etc/environment
echo "https_proxy={{ .HttpProxy }}" >>/etc/environment
touch /etc/pulcy/docker.env
echo "http_proxy={{ .HttpProxy }}" >>/etc/pulcy/docker.env
echo "https_proxy={{ .HttpProxy }}" >>/etc/pulcy/docker.env
{{ end }}

# Create machine-id
rm -f /etc/.regen-machine-id
MACHINEID=$(uuidgen -r)
echo ${MACHINEID//-/} > /etc/machine-id

# Create core user
useradd -d /home/core -G docker,systemd-journal -m -U -u 500 -s /bin/bash -p $(uuidgen) core
mkdir -p /home/core/.ssh
cp -r /root/.ssh/* /home/core/.ssh/
chown -R core.core /home/core/.ssh
chmod -R og-rwx /home/core/.ssh
echo "core ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

# Link utilities
cd /usr/bin && ln -s /bin/mkdir && ln -s /bin/rmdir && ln -s /bin/bash
cd /usr/sbin && ln -s /sbin/lsmod && ln -s /sbin/modprobe
cd /usr/sbin && ln -s /sbin/iptables-save && ln -s /sbin/iptables-restore && ln -s /sbin/iptables
cd /usr/sbin && ln -s /sbin/ip6tables-save && ln -s /sbin/ip6tables-restore && ln -s /sbin/ip6tables

# Fix hosts
HOST=$(hostname)
echo "127.0.0.1 ${HOST}" >> /etc/hosts

{{ if .EnableIPV6 }}
# Force apt to use IPv6 only
cat > /etc/apt/apt.conf.d/99force-ipv6 <<\FORCEIPV6
Acquire::ForceIPv6 "true";
FORCEIPV6
mv /etc/apt/sources.list.d/docker.list /etc/apt/
{{end}}

# Install packages
apt-get -q update                   \
 && apt-get --force-yes -y -qq upgrade  \
 && apt-get --force-yes install -y -q tar tinc \
 && apt-get clean

# Install Fleet
FLEETVERSION={{.FleetVersion}}
FLEETFILE=fleet-${FLEETVERSION}-linux-amd64
cd /root \
    && tar xzf /tmp/fleet.tar.gz \
    && mv -f ${FLEETFILE}/* /usr/bin/ \
    && rm -Rf ${FLEETFILE} /tmp/fleet.tar.gz
cat > /etc/systemd/system/fleet.service <<\EOFLEET
[Unit]
Description=fleet daemon

After=etcd.service
After=etcd2.service

Wants=fleet.socket
After=fleet.socket

[Service]
Environment=GOMAXPROCS=1
ExecStart=/usr/bin/fleetd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
EOFLEET

cat > /etc/systemd/system/fleet.socket <<\EOFLEETSOCKET
[Unit]
Description=Fleet API Socket
PartOf=fleet.service

[Socket]
ListenStream=/var/run/fleet.sock
EOFLEETSOCKET

# Install Etcd
ETCDVERSION={{.EtcdVersion}}
ETCDFILE=etcd-${ETCDVERSION}-linux-amd64
cd /usr/src/ \
    && tar xzf /tmp/etcd.tar.gz \
    && mv -f ${ETCDFILE}/etcd /usr/bin/etcd2 \
    && mv -f ${ETCDFILE}/* /usr/bin/ \
    && rm -Rf ${ETCDFILE} /tmp/etcd.tar.gz
useradd --system --no-create-home etcd
mkdir /var/lib/etcd2
chown etcd.etcd /var/lib/etcd2
cat > /etc/systemd/system/etcd2.service <<\EOETCD
[Unit]
Description=etcd2
Conflicts=etcd.service

[Service]
User=etcd
Type=notify
Environment=ETCD_DATA_DIR=/var/lib/etcd2
Environment=ETCD_NAME=%m
ExecStart=/usr/bin/etcd2
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
EOETCD

# Patch rootfs
mkdir -p /etc/systemd/system/docker.service.d
echo "[Service]" > /etc/systemd/system/docker.service.d/99-docker.conf
echo "EnvironmentFile=/etc/environment" >> /etc/systemd/system/docker.service.d/99-docker.conf
systemctl disable docker; systemctl enable docker

# Prepare for reboot
sync
